/* CONTENEDOR PRINCIPAL */
.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

/* CONTENEDOR DEL CANVAS */
.containerdos {
  width: 500px;
  height: 500px;
  max-width: 100%;
  position: relative;
  background: #0a0a1a;
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 55px;
}

/* CANVAS AJUSTADO */
.containerdos canvas {
  width: 100% !important;
  height: 100% !important;
  display: block;
}

/* BOTÓN LANZAR */
.btn-dos {
  background: #ff004c;
  color: white;
  padding: 10px 24px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 12px rgba(255, 0, 90, 0.4);
  transition: 0.2s ease;

}



/* 📱 MODO CELULAR */
@media (max-width: 600px) {
  .containerdos {
    width: 100%;
    max-width: 350px;
    height: 350px;
  }

  .btn-dos {

    top: 10px;
  }

  .resultado-box {
    width: 100%;
    max-width: 350px;
    text-align: center;
    font-size: 16px;
  }
}