.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
}

.containeruno {
  margin-top: 70px;
  width: 500px;
  height: 500px;
  max-width: 100%;
  position: relative;
  background: #0a0a1a; /* Fondo oscuro */
  border-radius: 12px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ruleta-wrapper {
  text-align: center;
  color: white;
  margin-top: 20px;
}

.btn-girar {
  padding: 12px 20px;
  background: #ff004c;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  margin-bottom: 15px;
  box-shadow: 0 0 12px rgba(255, 0, 90, 0.4);
  transition: 0.2s;
}

.btn-girar:hover {
  background: #ff2d6e;
  transform: scale(1.05);
}

.ruleta-resultado {
  margin-bottom: 10px;
  font-size: 20px;
  color: #ff80b3;
}

.ruleta-contenedor {
  position: relative;
  width: 260px;
  height: 260px;
  margin: 0 auto;
}

.ruleta {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 6px solid #ff004c;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 3s cubic-bezier(0.1, 0.99, 0.3, 1);
}

.ruleta-texto {
  position: absolute;
  left: 50%;
  top: 50%;
  transform-origin: 0 0;
  color: #ff80b3;
  font-size: 18px;
  font-weight: bold;
  text-shadow: 0 0 5px rgba(255,0,80,0.7);
}

.ruleta-flecha {
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 25px solid #ff004c;
  position: absolute;
  top: -12px;
  left: calc(50% - 15px);
}