/* Reset general */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
  background: #111;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

/* Evitar problemas por usar <body> dentro del componente App */
body {
  display: block !important;
}

/* Encabezado general */
.app-header {
  text-align: center;
  padding: 20px 10px;
  background: #1a1a1a;
  border-bottom: 2px solid #ff004c;
}

.app-header h1 {
  font-size: clamp(1.5rem, 4vw, 2.5rem);
  color: #ff004c;
}

/* Contenedor grande */
.container-uno,
.container-dos {
  width: 100%;
  max-width: 900px;
  margin: auto;
  margin-top: 40px;
  padding: 20px;
  background: #080808;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(255, 0, 76, 0.15);
}

.container_ruleta{
  width: 100%;
  max-width: 900px;
  margin: auto;
  margin-top: 40px;
  padding: 20px;
  background: #080808;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(255, 0, 76, 0.15);
}
.container_tiempo{
  width: 100%;
  max-width: 900px;
  margin: auto;
  margin-top: 40px;
  padding: 20px;
  background: #080808;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(255, 0, 76, 0.15);
}

.container-uno h2,
.container-dos h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: clamp(1.2rem, 3vw, 2rem);
  color: #ff6e96;
}

/* Asegura que los canvas 3D sean responsive */
canvas {
  width: 100% !important;
  height: auto !important;
  max-height: 500px;
}


/* Responsive extra */
@media (max-width: 500px) {
  .container-uno,
  .container-dos {
    padding: 15px;
  }
}
